/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. improve punctuation quotes
*/
html {
  hanging-punctuation: first last;
}

/*
  3. Remove default margin
*/
* {
  margin: 0;
  /* under consideration may remove later */
  padding: 0;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Make paragraph text easier to read
*/
p {
  text-wrap: pretty;
  max-width: 75ch;
}
/*
  10. Deals with smooth scroll behavior 
*/
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/*
  11. Create a root stacking context
*/
#root,
#__nuxt {
  isolation: isolate;
}
